
<form class="" action="" method="post">
<label for="">
  email
<input type="text" name="user[email]" value="email">
<br>
  password
<input type="text" name="user[password]" value="password">
<br>
<input type="submit" name="" value="sign in/up">
</label>
</form>
