<p>Sign In Here</p>

<!-- render form for sign in -->
<!-- <%= render "form" %> -->

<form class="" action="<%=session_url%>" method="post">
  <!-- <input type="hidden" name="_method" value="get"> -->
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>
    <p>email</p>
    <input type="text" name="user[email]" value="">
  </label>
  <br>
  <label>
    <p>password</p>  
    <input type="text" name="user[password]" value="">
  </label>
  <br>
  <input type="submit" name="" value="sign in">
</form>

<p>Don't have an account yet?</p>
<a href="/users/new"><input type="submit" value="make an account"></a>
